.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# SQLite config
instance/
*.sqlite3
*.db

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/
